.cao-sprite {
    background-image: url(../images/cao-icons-16.png);
    background-repeat: no-repeat;
    display: block;
    width: 16px;
    height: 16px;
}

.cao-sprite-black-16 {
    background-position: -5px -5px;
}

.cao-sprite-crimson-16 {
    background-position: -31px -5px;
}

.cao-sprite-darkgreen-16 {
    background-position: -57px -5px;
}

.cao-sprite-darkred-16 {
    background-position: -5px -31px;
}

.cao-sprite-dimgrey-16 {
    background-position: -31px -31px;
}

.cao-sprite-green-16 {
    background-position: -57px -31px;
}

.cao-sprite-lightblue-16 {
    background-position: -5px -57px;
}

.cao-sprite-lightcoral-16 {
    background-position: -31px -57px;
}

.cao-sprite-lightgrey-16 {
    background-position: -57px -57px;
}

.cao-sprite-lightseagreen-16 {
    background-position: -83px -5px;
}

.cao-sprite-midnightblue-16 {
    background-position: -83px -31px;
}

.cao-sprite-royalblue-16 {
    background-position: -83px -57px;
}
