.cao-sprite {
    background-image: url(../images/cao-icons-inv-32.png);
    background-repeat: no-repeat;
    display: block;
    width: 32px;
    height: 32px;
}

.cao-sprite-inv-black-32 {
    background-position: -5px -5px;
}

.cao-sprite-inv-crimson-32 {
    background-position: -47px -5px;
}

.cao-sprite-inv-darkgreen-32 {
    background-position: -89px -5px;
}

.cao-sprite-inv-darkred-32 {
    background-position: -5px -47px;
}

.cao-sprite-inv-dimgrey-32 {
    background-position: -47px -47px;
}

.cao-sprite-inv-green-32 {
    background-position: -89px -47px;
}

.cao-sprite-inv-lightblue-32 {
    background-position: -5px -89px;
}

.cao-sprite-inv-lightcoral-32 {
    background-position: -47px -89px;
}

.cao-sprite-inv-lightgrey-32 {
    background-position: -89px -89px;
}

.cao-sprite-inv-lightseagreen-32 {
    background-position: -131px -5px;
}

.cao-sprite-inv-midnightblue-32 {
    background-position: -131px -47px;
}

.cao-sprite-inv-royalblue-32 {
    background-position: -131px -89px;
}
